@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

:root {
  --green: #229665;
  --green-light: #49AA4B;
  --gray: #D6D6D6;
  --gray-light: #ECECEC;
  --gray-dark: #757575;
  --red: #EF0000;
  --white-dark: #F6F6F6;
  --white: #FFFFFF;
  --radius: 10px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Golos Text', sans-serif;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left {
    width: 49%;
    display: flex;

}
.right {
    width: 49%;
    display: flex;
}

.column{
    display: flex;
    flex-direction: column;
}

.align-center{
    align-items:center;
}

.space-between{
    justify-content: space-between;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
    width: 100%;
}

.text-vertical{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 8px;
    color: var(--gray-dark);
    padding: 2px;
}

.text-white{
    color: var(--white);
}

.text-green{
    color: var(--green);
}

.text-red{
    color: var(--red);
}

.text-gray-dark{
    color: var(--gray-dark);
}

.text-biggest{
    font-size: 32px;
}

.text-bigger{
    font-size: 24px;
}

.text-big{
    font-size: 14px;
}

.text-medium{
    font-size: 11px;
}

.text-small{
    font-size: 9px;
}

body {
    padding: 10px;
    background-color: var(--gray-light);
}

.wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 15vh 15vh auto;
    padding: 10px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.settings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 400px;
    background-color: var(--white-dark);

}

.setting{
  border-radius: 10px;
}

menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.indicator{
    background-color: var(--gray);
    border-radius: 10px;
    width: 250px;
    height: 60px;;
    justify-content: space-evenly;
}
.general{
    background-color: var(--green);
    border-radius: 10px;
    width: 130px;
    height: 60px;
}

.index{
    background-color: var(--white);
    border-radius: 3px;
    padding: 2px;
    margin: 2px;
    height: fit-content;
}

.agrisector{
    background-color: var(--white-dark);
    border-radius: var(--radius);
    padding: 10px;
    margin: 10px;
}

.agriculture{
    border-bottom: var(--green) 3px solid;
    padding: 5px;
    margin: 5px
}

.agrititle{
    background-color: var(--green);
    border-radius: var(--radius);
    padding: 5px;
    margin: 5px
}

.assets-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

[class^="asset-"]{
    background-color: var(--gray);
    padding: 0px 10px 0px 0px;
    margin-top: 5px;
    border-radius: 5px;
}

