* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column{
    display: flex;
    flex-direction: column;
}

.text-center{
    text-align: center;
}

.align-center{
    align-items: center;
    justify-content: center;
}

.text-vertical{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 10px;
}

.text-gray{
    color: gray;
}

.text-medium{
    font-size: 11px;
}

.text-small{
    font-size: 9px;
}

h2{
    width: 100%;
}

.wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 10% 10% auto;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.settings {
    display: flex;
    width: 30vw;
    justify-content: space-between;
}   

menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left {
    width: 50%;
    display: flex;

}
.right {
    width: 50%;
    display: flex;
}

.asset-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

