* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
}

h2{
    width: 100%;
    text-align: center;
}

.wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 10% 10% auto;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.settings {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-between;
}   

menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;

}
.right {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.asset-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

