@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

:root {
  --green: #229665;
  --green-light: #49AA4B;
  --gray: #D6D6D6;
  --gray-dark: #AEAEAE;
  --gray-light: #ECECEC;
  --red: #EF0000;
  --white-dark: #fEfEfE;
  --white: #FFFFFF;
  --radius: 10px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Golos Text', sans-serif;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column{
    display: flex;
    flex-direction: column;
}

.block-white{
    background-color: var(--white);
    border-radius: var(--radius);
    padding: 2px;
    margin: 2px;
}

.block-green{
    background-color: var(--green);
    border-radius: var(--radius);
}

.block-gray{
    background-color: var(--gray);
    border-radius: var(--radius);
}

.block-wight-dark{
    background-color: var(--white-dark);
    border-radius: var(--radius);
}

.align-center{
    align-items:center;
}

.space-between{
    justify-content: space-between;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
    width: 100%;
}

.text-vertical{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 10px;
}

.text-white{
    color: var(--white);
}

.text-green{
    color: var(--green);
}

.text-red{
    color: var(--red);
}

.text-gray{
    color: var(--gray-dark);
}

.text-biggest{
    font-size: 32px;
}

.text-bigger{
    font-size: 24px;
}

.text-big{
    font-size: 20px;
}

.text-medium{
    font-size: 11px;
}

.text-small{
    font-size: 9px;
}

body {
    padding: 10px;
    background-color: var(--gray-light);
}

.wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 15vh 15vh auto;
    padding: 10px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.settings {
    display: flex;
    width: 30vw;
    justify-content: space-between;
}   

menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.indicator{
  border-radius: 20%;
  border-color: antiquewhite;
}

.left {
    width: 50%;
    display: flex;

}
.right {
    width: 50%;
    display: flex;
}

.asset-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

